.idea/*
Week-1/JavaSocketProgramming/.idea/
Week-1/JavaSocketProgramming/JavaSocketProgramming.iml
Week-1/JavaSocketProgramming/logs/
Week-1/JavaSocketProgramming/out/
Week-1/JavaSocketProgramming/src/main/main.iml
Homework-2/Homework-2/.idea/
Homework-2/Homework-2/Homework-2.iml
Homework-2/Homework-2/logs/
Homework-2/Homework-2/out/
Homework-2/Homework-2/src/main/main.iml
